main {
  flex: 1 0 auto;
  margin: auto;
  width: 50%;
  min-width: 350px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
    background-color: brown;
    color: white;
}

#addBook {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#readStatus {
  display: flex;
  column-gap: 5px;
}

#addBookButton {
  width: 100px;
  background-color: brown;
  color: white;
}

#books {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-bottom: 10px;
    justify-content: center;
}

.book {
    margin: 5px;
    width: 125px;
    height: 200px;
    padding: 5px;
    background-color: brown;
    color: white;
}