:root {
  font-size: 100%;
}

#alertMessages {
  display: flex;
  flex-direction: row;
  background: brown;
  color: white;
  justify-content: space-between;
}

#aside {
  margin: auto;
  width: 50%;
  min-width: 350px;
}

main {
  flex: 1 0 auto;
  margin: auto;
  width: 50%;
  min-width: 350px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#signupForm {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#signupButton {
  background-color: brown;
  color: white;
}

#loginForm {
  display: flex;
  height: 100vh;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
}

#loginButton {
  background-color: brown;
  color: white;
}

#addBookModal {
  background-color: brown;
  color: white;
}

#addBook {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#addBookButton {
  background-color: brown;
  color: white;
}

#books {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#book {
  width: 170px;
  height: 170px;
}
@media (max-width: 340px) {
  #book {
    width: 100%;
  }
}

#displaytitle {
  font-size: 20px;
}

#displayAuthor {
  font-size: 15px;
}

#displayProgress {
  font-size: 10px;
}
