<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css" />
    <title>{%block title%}Library{% endblock %}</title>
  </head>
  <body>
      <nav id="navbar" class="w3-bar">
          <a class="w3-bar-item w3-button w3-mobile" id="login" href="/login">Login</a>
          <a class="w3-bar-item w3-button w3-mobile" id="signUp" href="/sign-up">Sign Up</a>
          <a class="w3-bar-item w3-button w3-mobile" id="logout" href="/logout">Logout</a>
      </nav>
      <div class="w3-container">{%block content%}{%endblock%}</div>
  </body>
</html>
