{% extends "base.html" %} {%block title%}Library{%endblock%} {%block aside%}
<div>
  <h2>Library</h2>
  <p>Keep track of your reading progress for all of your favorite books.</p>
  <button
    id="addBookModal"
    type="button"
    class="w3-btn w3-block w3-section"
    onclick="document.getElementById('id01').style.display='block'"
  >
    Add new book
  </button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <div class="w3-center">
        <br />
        <span
          aria-hidden="true"
          onclick="document.getElementById('id01').style.display='none'"
          class="w3-btn w3-display-topright"
          title="Close Modal"
          >&times;</span
        >
      </div>
      <form id="addBook" class="w3-container" method="POST">
        <h2>Add Book</h2>
        <input
          required
          class="w3-input w3-border"
          type="text"
          name="title"
          id="title"
          placeholder="Enter Book Title"
        />
        <input
          required
          class="w3-input w3-border"
          type="text"
          name="author"
          id="author"
          placeholder="Author"
        />
        <input
          required
          class="w3-input w3-border"
          type="number"
          name="nPages"
          id="nPages"
          min="1"
          max="9999"
          placeholder="Total Number of Pages"
        />
        <input
          required
          class="w3-input w3-border"
          type="number"
          name="pagesRead"
          id="pagesRead"
          min="0"
          placeholder="Number of Pages Read"
        />
        <button
          id="addBookButton"
          type="submit"
          class="w3-btn w3-block w3-section"
        >
          Add Book
        </button>
      </form>
      <div class="w3-container w3-border-top w3-padding-16">
        <button
          onclick="document.getElementById('id01').style.display='none'"
          type="button"
          class="w3-btn"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
{%endblock%} {%block content%}
<h2>Books</h2>
<ul id="books" class="w3-ul">
  {% for book in user.books %}
  <li id="book" class="w3-card-4">
    <p
      aria-hidden="true"
      onClick="deleteBook('{{book.id}}')"
      id="{{book.id}}"
      class="w3-btn w3-right"
    >
      &times;
    </p>
    <div>
      <a href="/book/{{book.id}}"
        ><h3 id="displayTitle">{{book.title[:40]}}</h3></a
      >
      <p id="displayAuthor"><i>by {{book.author[:30]}}</i></p>
      <p id="displayProgress">
        {{ book.nPages }} Pages &middot; {{ (100 * book.pagesRead / book.nPages)
        | int}}% Read
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
{%endblock%}
