{% extends "base.html" %} {%block title%}Library{%endblock%} {%block aside%}
<div>
  <h2>Library</h2>
  <p>Keep track of your reading progress for all of your favorite books.</p>
  <button
    id="addBookModal"
    type="button"
    class="w3-button w3-block w3-section"
    onclick="document.getElementById('id01').style.display='block'"
  >
    Add new book
  </button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <div class="w3-center">
        <br />
        <span
          onclick="document.getElementById('id01').style.display='none'"
          class="w3-button w3-xlarge w3-hover-red w3-display-topright"
          title="Close Modal"
          >&times;</span
        >
      </div>
      <form id="addBook" class="w3-container" method="POST">
        <h2>Add Book</h2>
        <input
          required
          class="w3-input w3-border"
          type="text"
          name="title"
          id="title"
          placeholder="Enter Book Title"
        />
        <input
          required
          class="w3-input w3-border"
          type="text"
          name="author"
          id="author"
          placeholder="Author"
        />
        <input
          required
          class="w3-input w3-border"
          type="number"
          name="nPages"
          id="nPages"
          min="1"
          placeholder="Total Number of Pages"
        />
        <input
          required
          class="w3-input w3-border"
          type="number"
          name="pagesRead"
          id="pagesRead"
          min="0"
          placeholder="Number of Pages Read"
        />
        <button
          id="addBookButton"
          type="submit"
          class="w3-button w3-block w3-section"
        >
          Add Book
        </button>
      </form>
      <div class="w3-container w3-border-top w3-padding-16">
        <button
          onclick="document.getElementById('id01').style.display='none'"
          type="button"
          class="w3-button"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
{%endblock%} {%block content%}
<h1>Books</h1>
<ul id="books" class="w3-ul w3-card">
  {% for book in user.books %}
  <li id="book" class="w3-bar">
    <span
      onClick="deleteBook({{ book.id }})"
      id="{{book.id}}"
      class="w3-bar-item w3-button w3-xlarge w3-right"
      >&times;</span
    >
    <div class="w3-bar-item">
      <span class="w3-large">{{book.title}}</span><br />
      <span>{{book.author}}</span><br />
      <span class="w3-small">{{ book.nPages }} Pages</span>
      <span> &middot; </span>
      <span class="w3-small"
        >{{ (100 * book.pagesRead / book.nPages) | int}}% read</span
      >
    </div>
  </li>
  {% endfor %}
</ul>
{%endblock%}
