{% extends "base.html" %} {%block title%}Login{%endblock%} {%block content%}
<form id="loginForm" method="post">
  <h2 class="w3-container">Login</h2>

  <div class="w3-container">
    <label for="email">Email</label>
    <input
      required
      class="w3-input w3-border"
      id="email"
      name="email"
      type="email"
      placeholder="example@email.com"
    />
  </div>

  <div class="w3-container">
    <label for="password">Password</label>
    <input
      required
      class="w3-input w3-border"
      id="password"
      name="password"
      type="password"
      placeholder="Enter Password"
    />
  </div>

  <div class="w3-container">
    <button
      id="loginButton"
      type="submit"
      class="w3-button w3-block w3-section"
    >
      Login
    </button>
  </div>
</form>
{%endblock%}
